[Unit]
Description=Greenhouse Sensor Indicators
Wants=init-pins.service
After=init-pins.service

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/opt/greenhouse/bin/sensor-indicators-mqtt-sub

[Install]
WantedBy=multi-user.target
